@model IEnumerable<TallinnaRakenduslikCollegeTARpe24_StenUesson.Models.Course>

@{
    ViewData["Title"] = "Kursused/Õppeained";
}

<h1>Kursused</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Loo Kursus</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {

        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credits)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CourseID" class="btn btn-dark">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CourseID" class="btn btn-dark">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CourseID" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>