@model TallinnaRakenduslikCollegeTARpe24_StenUesson.Models.Delinquent

@{
	ViewData["Title"] = "Delete Delinquent";
}

<h1>Kustuta Delinquent</h1>
<h3>
	Kas oled kindel et tahad kustudada @Html.DisplayFor(Model => Model.FirstName)
</h3>
<div>
	<h4>Delinquent</h4>
	<hr />
	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
	<dt class="col-sm-2">@Html.DisplayFor(Model => Model.LastName)</dt>
	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
	<dt class="col-sm-2">@Html.DisplayFor(Model => Model.FirstName)</dt>
	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.violtaions)</dt>
	<dt class="col-sm-2">@Html.DisplayFor(Model => Model.violtaions)</dt>
	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.ViolationDescription)</dt>
	<dt class="col-sm-2">@Html.DisplayFor(Model => Model.ViolationDescription)</dt>
	<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.teacherOrStudent)</dt>
	<dt class="col-sm-2">@Html.DisplayFor(Model => Model.teacherOrStudent)</dt>

	<form asp-action="Delete">
		<input type="hidden" asp-for="DelinquentID" />
		<input type="submit" value="Kustuta Delinquent" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
	</form>
</div>