@model TallinnaRakenduslikCollegeTARpe24_StenUesson.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3>Instructor details</h3>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.LastName)
        </dd>

        <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.FirstName)
        </dd>

        <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.HireDate)
        </dd>

        <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.City)
        </dd>
    </dl>
    <form asp-action="Details">
        <a asp-action="Index">Back To list</a>
    </form>
</div>